*{
    background-color: lightblue;
}
.startTitles{
    color: #52796f;
    font-family: Arial, Helvetica, sans-serif;
}
#poemTitles{
    
}
.stanza {
    
}
.lines{
    
}

span{
    padding-left: 10px;
}